@model WeatherPockmonTest.Models.PokemonInfo

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Pokemon</h1>
        <p class="lead">Enter the name of the city and find out which pokemon lives there:</p>
        <div>
            @using (Html.BeginForm("LookupPokemon", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <input id="LookUpCity" type="text" width="70" name="LookUpCity" />

                <input type="submit" value="Lookup Pokemon" class="btn btn-primary">
            }
        </div>

    </div>

