@model WeatherPockmonTest.Models.PokemonInfo

@{
    ViewBag.Title = "LookUpPokemon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pokemon Info</h2>

<div>
    <p>
        <label>City: </label>  @Model.LookUpCity <br>
        <label>Status: </label>  @Model.CityStatus<br>
        <label>Temperature: </label>  @Model.CityTemperature <br>
        <label>Pokemon: </label>  @Model.Name<br>
    </p>

</div>